div.container
	div.header
		ul.nav.nav-pills.pull-right
			if user
				li(class=title=="Home"?"active":undefined)
					a(href="/") Home
				li.dropdown(class=title=="Profile"?"active":undefined)
					a.dropdown-toggle(data-toggle="dropdown", href="#") #{user.local.email}
						span.caret
					ul.dropdown-menu
						li
							a(href="/profile") Profile
						li.divider
						li
							a(href="/logout") Logout
		
		h3 
			a(href="/") Carson
