extends ./base/layout

block content
	div.container
		div.row
			div.col-sm-12
				h3
					span.fa.fa-user
					|  User Info
				div.well
					p
						b id: 
						| #{user._id}
					p
						b email:
						| #{user.local.email}
					p 
						b password: 
						| #{user.local.password}